body {
  margin: 0px;
  padding: 0px;
  height: fit-content;
}

p {
  display: inline=block;
  margin: 0;
  padding: 0;
}

.container {
  margin: 10px;
  width: 300;
  display: flex;
  flex-direction: column;
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding-bottom: 3px;
  height: 30px;
}

.status-message,
.articles {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0px;
}

.btns {
  width: 100%;
  color: #314d3e;
}

.btns-active {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btns-hidden {
  display: none;
}

.btn {
  border-width: 0px;
  border-radius: 3px;
  color: #f0eded;
  display: inline-block;
  width: 65px;
  padding: 5px 3px;
  font-weight: 400;
}

.btn:active {
  color: #242625;
}

.btn-prev:disabled {
  background-color: #a9b3ae;
}

.btn.btn-prev,
.btn.btn-next {
  background-color: #0d6efd;
}

.btn.btn-prev:hover,
.btn.btn-next:hover {
  background-color: #0952c0;
}

.btn.btn-prev:active,
.btn.btn-next:active {
  background-color: #3d85f0;
}

.btn.btn-save {
  background-color: #12a54f;
}

.btn.btn-save:hover {
  background-color: #077a37;
}

.btn.btn-save:active {
  background-color: #28cd6d;
}


.btn.btn-clear {
  background-color: #d3a10b;
}

.btn.btn-clear:hover {
  background-color: #caba0b;
}

.btn.btn-clear:active {
  background-color: #f5cb0e;
}